.app.dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(196, 196, 196);

  .chartGrid {
    stroke: rgba(235, 8, 8, 0.21);
  }

  .table {
    background-color: #1111;

    .tableCell {
      color: rgb(196, 196, 196);
    }
  }
  .navbar {
    color: #999;
    border-color: rgba(255, 255, 255, 0.47);

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #1111;
    border-color: rgba(255, 255, 255, 0.47);

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: rgba(255, 255, 255, 0.47);
    }

    ul {
      li {
        &:hover {
          color: #83d4b1;
          border-right: 4px solid #64cb9c;
        }
        .icon {
          color: #999;
        }
      }
    }
  }
  .datatable {
    .datagrid {
      color: gray;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }
  input {
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}
