.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(231, 228, 228);
  min-height: 100vh;
  background-color: #f1faf7;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      // color: #6439ff;
      color: #66cc9d;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid rgb(231, 228, 228);
  }
  .center {
    padding-left: 20px;

    ul {
      list-style: none;
      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-bottom: 15px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        border-right: 4px solid rgba(255, 255, 255, 0);
        cursor: pointer;

        &:hover,
        &:active {
          transition: 0.4s all;
          border-right: 4px solid #64cb9c;
          background-color: #ece8ff;
        }
        .icon {
          font-size: 18px;
          // color: #7451f8;
          color: #66cc9d;
        }
        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    .color-option {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
